body {
  background-color: #f6f6f6 !important;
}

.modal-dialog img{
  max-width: 436px !important;
}

.modal-dialog.wide {
  width: 1000px;
  max-width: 1000px;
}

.modal-dialog.high {
  min-height: calc(100vh - 28px - 28px);
}

.modal-dialog.high .modal-content {
  min-height: inherit;
}

.modal-dialog.high .modal-content .ck-content {
  min-height: calc(100vh - 28px - 28px - 370px);
}

.bkg-grey{
  background-color: #f6f6f6;
}

.bkg-grey .modal-content{
  background-color: #f6f6f6;
}

h1, h2, h3, h4 {
  font-weight: lighter;
}

h2 {
  font-size: 1.3em;
  color: black;
  margin-top: 0em;
  margin-bottom: 0em;
  line-height: 48px;
}
